langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.35
langchain-groq==0.1.9
langchain-openai==0.1.23
langchain-text-splitters==0.2.4
sentence-transformers==3.0.1
chromadb==0.5.5
streamlit==1.37.0
python-dotenv==1.0.1
beautifulsoup4==4.12.3
playwright==1.45.0
playwright-stealth==1.0.6